<!---  <div [innerHtml]="htmlSchedule" class="form-schedule"></div  -->
<div class=day>
   <h3  class= "dayText">Lunes</h3>
   <div [ngClass] = 'getBlockClass(0,0)' class="block" (click) = 'setSchedule(0,0)' height=20></div>
   <div [ngClass] = 'getBlockClass(0,1)' class="block" (click) = 'setSchedule(0,1)' height=20></div>
   <div [ngClass] = 'getBlockClass(0,2)' class="block" (click) = 'setSchedule(0,2)' height=20></div>
   <div [ngClass] = 'getBlockClass(0,3)' class="block" (click) = 'setSchedule(0,3)' height=20></div>
   <div [ngClass] = 'getBlockClass(0,4)' class="block" (click) = 'setSchedule(0,4)' height=20></div>
   <div [ngClass] = 'getBlockClass(0,5)' class="block" (click) = 'setSchedule(0,5)' height=20></div>
</div>
<div class=day>
   <h3  class= "dayText">Martes</h3>
   <div [ngClass] = 'getBlockClass(1,0)' class="block" (click) = 'setSchedule(1,0)' height=20></div>
   <div [ngClass] = 'getBlockClass(1,1)' class="block" (click) = 'setSchedule(1,1)' height=20></div>
   <div [ngClass] = 'getBlockClass(1,2)' class="block" (click) = 'setSchedule(1,2)' height=20></div>
   <div [ngClass] = 'getBlockClass(1,3)' class="block" (click) = 'setSchedule(1,3)' height=20></div>
   <div [ngClass] = 'getBlockClass(1,4)' class="block" (click) = 'setSchedule(1,4)' height=20></div>
   <div [ngClass] = 'getBlockClass(1,5)' class="block" (click) = 'setSchedule(1,5)' height=20></div>
</div>
<div class=day>
   <h3  class= "dayText">Miercoles</h3>
   <div [ngClass] = 'getBlockClass(2,0)' class="block" (click) = 'setSchedule(2,0)' height=20></div>
   <div [ngClass] = 'getBlockClass(2,1)' class="block" (click) = 'setSchedule(2,1)' height=20></div>
   <div [ngClass] = 'getBlockClass(2,2)' class="block" (click) = 'setSchedule(2,2)' height=20></div>
   <div [ngClass] = 'getBlockClass(2,3)' class="block" (click) = 'setSchedule(2,3)' height=20></div>
   <div [ngClass] = 'getBlockClass(2,4)' class="block" (click) = 'setSchedule(2,4)' height=20></div>
   <div [ngClass] = 'getBlockClass(2,5)' class="block" (click) = 'setSchedule(2,5)' height=20></div>
</div>
<div class=day>
   <h3  class= "dayText">Jueves</h3>
   <div [ngClass] = 'getBlockClass(3,0)' class="block" (click) = 'setSchedule(3,0)' height=20></div>
   <div [ngClass] = 'getBlockClass(3,1)' class="block" (click) = 'setSchedule(3,1)' height=20></div>
   <div [ngClass] = 'getBlockClass(3,2)' class="block" (click) = 'setSchedule(3,2)' height=20></div>
   <div [ngClass] = 'getBlockClass(3,3)' class="block" (click) = 'setSchedule(3,3)' height=20></div>
   <div [ngClass] = 'getBlockClass(3,4)' class="block" (click) = 'setSchedule(3,4)' height=20></div>
   <div [ngClass] = 'getBlockClass(3,5)' class="block" (click) = 'setSchedule(3,5)' height=20></div>
</div>
<div class=day>
   <h3  class= "dayText">Viernes</h3>
   <div [ngClass] = 'getBlockClass(4,0)' class="block" (click) = 'setSchedule(4,0)' height=20></div>
   <div [ngClass] = 'getBlockClass(4,1)' class="block" (click) = 'setSchedule(4,1)' height=20></div>
   <div [ngClass] = 'getBlockClass(4,2)' class="block" (click) = 'setSchedule(4,2)' height=20></div>
   <div [ngClass] = 'getBlockClass(4,3)' class="block" (click) = 'setSchedule(4,3)' height=20></div>
   <div [ngClass] = 'getBlockClass(4,4)' class="block" (click) = 'setSchedule(4,4)' height=20></div>
   <div [ngClass] = 'getBlockClass(4,5)' class="block" (click) = 'setSchedule(4,5)' height=20></div>
</div>
  <button class="btn btn-lg btn-primary btn-block" (click) = "save()" type="submit">Sign in</button>
​
